body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}
